


#header {
  background-color: #eeeeee;

  #bannerNews {
    width: 100%;
    height: 470px;
    padding: 40px 0;

    .layout {
      width: 1345px;
      overflow: hidden;
      margin: 0 auto;
    }
  }

  #act {
    height: 721px;
  }
}
