@import "@/Scss/reset";

html, body {
  width: 100%;
}


.margin {
  width: 1240px;
  margin: 0 auto;
}

#header {
  @include rect(100%, 450px);
  background: #ff9;
}

.title {
  height: 120px;
  background: #f7f8f8;
  line-height: 120px;

  span {
    color: #a9a9a9;
  }

  a {
    color: #a9a9a9;
    margin: 0 20px;
  }

  .te {
    color: #424242;
  }

}


.hero-img {
  //width: 1240px;
  height: 632px;
  background: #f7f8f8;

  .defail-skin {
    position: relative;
    @include rect(100%, 632px);

    .gallery-top {
      @include rect(100%, 100%);

      .swiper-wrapper {
        img {
          @include rect(1240px, 632px);
        }

      }
    }


    .hero-attribute {
      @include rect(305px, auto);
      background: rgba(24, 23, 25, 0.6);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      color: #fff;
      z-index: 999;

      .hero-box {
        @include rect(100%, 220px);
        padding: 50px 0 0 50px;

        p {
          @include rect(100%, auto);
          margin-bottom: 0 !important;
        }

        .a-1 {
          font-size: 24px;
          border-bottom: 25px;
        }

        .a-2 {
          font-size: 42px;
        }

        .a-3 span {
          height: 28px;
          padding: 0 8px;
          border-radius: 5px;
          background: #00a483;
          display: inline-block;
          font: 12px/1.6em "";
          text-align: center;
          line-height: 28px;
          margin: 20px 2px;
        }

        ul {
          li {
            margin-top: 7px;

            a {
              height: 14px;
              width: 110px;
              background: #363c3c;
              display: inline-block;
              line-height: 14px;
              margin-left: 10px;

              i {
                display: block;
                height: 14px;
              }
            }

          }
        }

        a.btn_buy {
          display: block;
          width: 152px;
          height: 38px;
          margin-top: 42px;
          border: none;
          background-image: url(//game.gtimg.cn/images/lol/web201310/page.png?d=20131230);
          background-position: -638px 0;
        }
      }
    }

    .hero-skin {
      width: 750px;
      height: 130px;
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 1;
      overflow: hidden;

      .top {
        width: 100%;
        height: 45px;

        h3 {
          float: right;
          padding: 0 5px;
          height: 40px;
          background: rgba(24, 23, 25, 0.6);
          color: #fff;
          text-align: center;
          font: 24px/40px "";
          margin-right: 10px;
        }
      }

      ul {
        width: 100%;
        height: 60px;
        margin: 5px 0;
        display: flex;
        position: absolute;

        li {
          width: 60px;
          height: 60px;
          border: 1px solid #000;
          cursor: pointer;

          img {
            width: 100%;
            height: 100%;
          }

        }


      }

      .gallery-thumbs {
        height: 66px !important;

        .swiper-wrapper {
          margin: 0 !important;

          .swiper-slide {
            width: 60px !important;
          }
        }

        li.swiper-slide-thumb-active:after {
          position: absolute;
          top: 0;
          @include rect(60px, 60px);
          content: '';
          display: block;
          border: 4px solid #00a483;
        }


      }

    }
  }


}

.main {
  overflow: hidden;
  background: #f7f8f8;
  padding-bottom: 50px;

  .main-left {
    width: 781px;
    float: left;

    h3 {
      padding-top: 41px;
      font: 600 16px/2 "";
      color: #338c7a;
    }

    h6 {
      font-size: 20px;
      color: #338c7a;
      margin-top: 60px
    }

    .background-story {
      @include rect(100%, 168px);
      border: 1px solid #e1e1e1;
      margin-top: 20px;
      background: #fff;
      padding: 26px 32px;
      box-sizing: border-box;

      p {
        font: 12px/2 "";
        color: #666;
        text-indent: 2em;
        //margin-top: 65px;
      }


    }

    .cd-img {
      @include rect(781px, auto);

      .img {
        @include rect(100%, 100px);
        margin-top: 24px;

        ul {
          display: flex;
          justify-content: left;
          flex-direction: row;
          //text-indent: 38px;

          li {
            @include rect(102px, 102px);
            padding: 10px 19px;

            img {
              @include rect(64px, 64px);
            }
          }

          li.active {
            border-top: 3px solid #00a383;
            padding: 10px 19px;
            background: #fff;
            border-left: 1px solid #e1e1e1;
            border-right: 1px solid #e1e1e1;
          }
        }

      }

      .cd-detail {
        @include rect(100%, auto);
        border: 1px solid #e1e1e1;
        background: #fff;
        padding: 14px 30px;

        span {
          padding-left: 10px;
          font-size: 14px;
          color: #999;
        }

        span.passive {
          margin-left: 5px;
          color: #338c7a;
        }

        h4 {
          font-size: 18px;
          color: #333;
        }

        p {
          text-indent: 2em;
          margin-top: 15px;
          color: #333;
        }
      }

    }

    .equipment {
      @include rect(100%, auto);
      border: 1px solid #e1e1e1;
      background: #fff;

      .equipment-li {
        @include rect(50%, 60px);
        float: left;
        border-top: 5px solid #d7d7d7;
        border-bottom: 1px solid #e2e2e2;
        background: #f0f0f0;
        text-align: center;
        line-height: 60px;
      }


      .equipment-li:hover {
        @include rect(50%, 60px);

        float: left;
        border: 0;
        border-top: 5px solid #666;
        background: #fff;
      }

      .active {
        border: 0;
        border-top: 5px solid #666;
        background: #fff;
        color: #00a383;
      }

      .equipment-right:hover {
        width: 486px;
        height: 60px;
        float: left;
        border: 0;
        border-top: 5px solid #666;
        background: #fff;
      }

      #summoner_smite, #aram {
        padding: 0 25px;

      }

      dl {
        border-bottom: 1px solid #eee;
        padding-left: 30px;

        dt {
          span {
            font-size: 18px;
            color: #338c7a;
            display: inline-block;
            font-weight: 700;
            margin-top: 30px;
          }
        }

        dd {
          display: inline-block;

          margin-top: 10px;
          margin-right: 20px;
          height: 90px;

          img {

          }
        }
      }

      h5 {
        font-size: 20px;
        color: #338c7a;
        margin-top: 60px
      }
    }

    .use-skill {
      @include rect(100%, auto);
      border: 1px solid #e1e1e1;
      background: #fff;
      //padding: 15px 0 0 38px;
      box-sizing: border-box;

      .top {
        @include rect(100%, auto);
        padding: 18px 30px;
        border-bottom: 1px solid #eee;
      }

      .bottom {
        padding: 18px 30px;

      }

      .a-1 {
        color: #338c7a;
        font-weight: 700;
      }

      p {
        font: 14px/30px "";
      }


    }
  }

  .main-right {
    width: 434px;
    float: right;

    h3 {
      padding-top: 41px;
      font: 400 16px/2 "";
      color: #338c7a;
    }

    .my-record {
      @include rect(100%, 119px);
      border: 1px solid #e1e1e1;
      background: #fff;
      margin-top: 20px;

      p {
        text-align: center;
        line-height: 120px;

        a {
          color: #00a483;
        }
      }
    }

    .strategy {
      @include rect(100%, auto);
      background: #fff;
      border: 1px solid #e1e1e1;
      margin-top: 20px;

      ul {
        padding-top: 14px;

        li {
          @include rect(100%, 56px);
          padding: 5px 15px;
          margin: 5px 0;
          border-bottom: 1px solid #eaeaea;

          p {
            margin-bottom: 0 !important;
          }

          .a-1 {
            width: 230px;
            float: left;

            .b-2 {
              color: #9a9898;
            }

            span {
              display: inline-block;
              font: 12px/22px "";
              width: 200px;
              white-space: nowrap;
              overflow: hidden;

              i {
                @include rect(18px, 18px);
                border-radius: 50%;
                background-color: #bebebe;
                text-align: center;
                font: 12px/18px "";
                color: #fbfbfb;
                margin-right: 4px;
              }

            }

            img {
              display: inline-block;
              vertical-align: middle;
            }
          }

          .a-2 {
            width: 160px;
            float: right;

            span {
              display: inline-block;
              font-size: 10px;
            }

            .b-1 {
              margin-left: 30px;
              color: #9a9898;
            }

            .b-2 {
              color: #9a9898;

              a {
                margin-left: 3px;
                display: inline-block;
                width: 100px;
                height: 13px;
                padding: 2px;
                border: 1px solid #e0e0e0;
                vertical-align: middle;
                position: relative;

                i {
                  position: absolute;

                  top: 1px;
                  height: 9px;
                  display: inline-block;
                  background: #00a483;

                }
              }
            }
          }
        }
      }
    }
  }
}

scalearmor {
  color: #ccc;
}

scaleap {
  color: #ff00ff !important;
}

.colorFF00FF {
  color: #ff00ff !important;
  font-weight: 500;
}

.colorCC3300 {
  color: #CC3300 !important;
  font-weight: 500;
}

keywordmajor {
  color: #333 !important;

}